body{
    background-color: lightcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.startquiz{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10%;
    margin: auto;
    text-align: center;
}

.hide {
    display: none;
}